<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>

  <appSettings>
    <add key="location" value="C:\Users\...\ECE.exe"/>
    <add key="sessionUserName" value="Rashid\Isayev"/>
    <add key="localhost" value="http://localhost:9999"/>
    <add key="URL" value="https://yandex.ru/"/>
    <add key="Hub" value="http://10.19.11.82:4444/wd/hub"/>
  </appSettings>
</configuration>
